{% extends 'Base-Homepage.html' %}


{% block body %}
<div class="my-5 container">
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card">

        <form class="card-body">
          <h2 class="Card-Title text-center"> Add Listing</h2>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="{{ form.ISBN.name }}">ISBN:</label>
              {{ form.ISBN }}
            </div>
            <div class="col-md-6">
              <label for="{{ form.Title.name }}">Title:</label>
              {{ form.Title }}
            </div>
            <div class="col-md-12 my-2">
              <label for="{{ form.Author.name}}">Author:</label>
              {{ form.Author }}
            </div>
            <div class="col-md-12">
              <label for="{{ form.Publisher.name }}">Publisher:</label>
              {{ form.Publisher }}
            </div>
            <div class="col-md-6 my-3">
              <label for="{{ form.Condition.name }}">Condition:</label>
              {{ form.Condition }}
            </div>
            <div class="col-md-6 float-right my-3">
              <label for="{{ form.Date.name }}">Date Published:</label>
              {{ form.Date }}
            </div>
            <div class="col-md-12">
              <label for="{{ form.Description.name }}">Description:</label>
              {{ form.Description }}
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-4 mb=4">
      <div class="card">
        <div style="text-align:center;" id="image-card" class="card-body">
          {{ form.Image }}
        </div>
      </div>
      <div class="card my-2">
        <div class="card-body" style="text-align:center;">
          <input id="submit-listing" class="btn btn-success" type="button" value="Add Listing">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
