{% extends 'base.html' %}

{% block content %}


<div style="background-image: url({{ MEDIA_URL }}mountains.jpg); height: 100vh;">
    <div class="text-white text-center rgba-stylish-strong py-5" style="height: 100vh;">
      <!-- Content -->
      <h2 class="my-5 py-5">Please Login</h2>
      <div class="form-group">
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <div>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username">
        </div>

        <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
        </div>
        <input class = "btn aqua-gradient" type="submit" name="" value="Login">

        <br>
        <p>Don't have an account?<a href="{% url 'register' %}">Register here</a></p>
      </form
      </div>
  </div>
</div>
{% endblock %}
