{% extends 'base.html' %}


{% block content %}

<!-- Jumbotron -->
<div class="container">
<div class="card card-image" style="background-image: url({{ MEDIA_URL }}forest.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2">Please Login</h2>
      <div class="form-group">
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <div>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username">
        </div>

        <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
        </div>
        <input class = "btn aqua-gradient" type="submit" name="" value="Login">

        <br>
        <p>Don't have an account?<a href="{% url 'register' %}">Register here</a></p>
      </form
      </div>
    </div>
  </div>
</div>
</div>
<!-- Jumbotron -->
{% endblock %}
